<div>
  <div id="bland-altman"></div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <% for(var i=1; i<=7; i++) {%>
      <a class="nav-item nav-link <% if (i === 1) { %> active <% } %>" id="nav-home-tab" data-toggle="tab" href="#nav-day<%-i%>"
        role="tab" aria-controls="nav-home" aria-selected="true">Day
        <%- i %></a>
      <%}%>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <%for(var i=1; i<=7; i++) {%>
    <div class="tab-pane fade <%if (i===1) { %> show active <% } %>" id="nav-day<%-i%>" role="tabpanel" aria-labelledby="nav-home-tab">
      <% types.forEach(function(element) {  %>
      <div id="<%=element%>-day<%=i%>"></div>
      <% }); %>
    </div>
    <%}%>
  </div>
</div>
<script src="js/experiment1.js"></script>
<script>
  let participant = "<%= participant %>";
  let types = "<%- types %>".split(",");
  let removeZeros = "<%- removeZeros %>"
  for (let i = 0; i < types.length; i++) {
    setTimeout(function () {
      getData(types[i], removeZeros, function (data) {
        displayGraph(types[i], data);
      });
    }, 100 * i);
  }
</script>
<script>
  
</script>