<br>
<h1>First Experiment</h1>
<h4 class="text-primary">Experiment Introduction</h4>
<p>- Comparing data of daily life free activities from Fitbit sensors.</p>
<p>- Understand and quantify the level of agreement between different sensors in normal life
  settings (uncontrolled settings).</p>
<p>- Select at least one Fitbit sensor so that it can be compared to other commercial activity
  monitoring sensors (see experiment 3).</p>
<p>- Ultimate aim of this experiment (and future experiments) is to derive objective measures of
  physical activity that can quantify the levels of physical activity of individuals during their
  daily life.</p>
<table class="table table-bordered table-striped table-hover">
  <thead class="thead-light">
    <tr class="text-center">
      <th scope="col" class="text-dark">Sensors</th>
      <th scope="col" class="text-dark">Wearing</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td>Fitbit One</td>
      <td>Waist (right side, attached to trousers)</td>
    </tr>
    <tr class="text-center">
      <td>Fitbit Flex 2</td>
      <td>Left Hand (closer to fingers)</td>
    </tr>
    <tr class="text-center">
      <td>Fitbit Surge</td>
      <td>Left Hand (closer to elbow)</td>
    </tr>
    <tr class="text-center">
      <td>Fitbit Charge HR</td>
      <td>Right Hand (closer to fingers)</td>
    </tr>
    <tr class="text-center">
      <td>Fitbit Charge 2</td>
      <td>Right Hand (closer to elbow)</td>
    </tr>
  </tbody>
</table>
<h4 class="text-primary">Experiment Details</h4>
<p>Every participants were be required to wear all above five Fitbit sensors on the right place(See
  above)for 7 days(Instead of sleeping and avoiding contact with water) while carrying their
  normal daily activities.</p>
<p>Data(Steps, Distance, Heart Rate, Energy Consumption) collected by these Fitbit sensors was
  recorded and stored in an Excel spreadsheet. Variables such as steps, energy consumption and
  heart rate were recorded every 5 minutes, walking and running distance were recorded every
  15 minutes.</p>
<!--Box Plot-->
<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link text-success active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Calories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
      aria-controls="profile" aria-selected="false">Heart Rate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-warning" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
      aria-controls="contact" aria-selected="false">Steps</a>
  </li>
  <li class="nav-item">
  <a class="nav-link text-info" id="contact-tab" data-toggle="tab" href="#contact2" role="tab"
    aria-controls="contact2" aria-selected="false">Distance</a>
</li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div id="testing123"></div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div id="testing124"></div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div id="testing125"></div>
  </div>
  <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">
    <div id="testing126"></div>
  </div>
</div>
<br>
<div>
  <div id="bland-altman"></div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <% for(var i=1; i<=7; i++) {%>
      <a class="nav-item nav-link <% if (i === 1) { %> active <% } %>" id="nav-home-tab" data-toggle="tab"
        href="#nav-day<%-i%>" role="tab" aria-controls="nav-home" aria-selected="true">Day
        <%- i %></a>
      <%}%>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <%for(var i=1; i<=7; i++) {%>
      <div class="tab-pane fade <%if (i===1) { %> show active <% } %>" id="nav-day<%-i%>" role="tabpanel"
        aria-labelledby="nav-home-tab">
        <% types.forEach(function(element) {  %>
        <div id="<%=element%>-day<%=i%>"></div>
        <div class="text-center mb-3">
          <a href="/download?e=1&p=<%= participant %>&type=<%= element%>"><button type="button"
              class="btn btn-outline-primary">Download Experiment</button></a>
          <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal-<%-element%>-day<%-i%>">
            Correlation coefficients
          </button>
        </div>
        <% }); %>
      </div>
      <%}%>
  </div>
</div>
<script src="js/experiment1.js"></script>
<script>
  let participant = "<%= participant %>";
      let types = "<%- types %>".split(",");
      let removeZeros = "<%- removeZeros %>";
      for (let i = 0; i < types.length; i++) { setTimeout(function () { getData(types[i], removeZeros, function (data) {
        displayGraph(types[i], data); }); }, 100 * i); } 
        </script>
        <script>
        Highcharts.chart('testing123', {
        
            chart: {
                type: 'boxplot'
            },
            plotOptions: {
                boxplot: {
                    fillColor: '#F0F0E0',
                    lineWidth: 2,
                    medianColor: '#0C5DA5',
                    medianWidth: 3,
                    stemColor: '#A63400',
                    stemDashStyle: 'dot',
                    stemWidth: 1,
                    whiskerColor: '#3D9200',
                    whiskerLength: '20%',
                    whiskerWidth: 2,
                    maxPointWidth: 50
                }
            },
            title: {
                text: 'Calories Error Box Plot For Genders'
            },
        
            legend: {
                enabled: false
            },
        
            xAxis: {
                categories: ['Male', 'Female', 'All'],
                title: {
                    text: 'Participant Group'
                }
            },
        
            yAxis: {
              title: {
                  text: 'Values'
              },
              plotLines: [{
                  value: 932,
                  color: 'red',
                  width: 1,
                  label: {
                      text: 'Actual Value',
                      align: 'left',
                      style: {
                          color: 'grey'
                      }
                  }
              }]
          },
        
            series: [{
                name: 'Observations',
                data: [
                    [760, 801, 848, 895, 965],
                    [733, 853, 939, 980, 1080],
                    [714, 762, 817, 870, 918]
                ],
                tooltip: {
                    headerFormat: '<em>Data for {point.key}</em><br/>'
                }
            }]
        
        });
        </script>
        <script>
Highcharts.chart('testing124', {

    chart: {
        type: 'boxplot'
    },
    plotOptions: {
        boxplot: {
            fillColor: '#F0F0E0',
            lineWidth: 2,
            medianColor: '#0C5DA5',
            medianWidth: 3,
            stemColor: '#A63400',
            stemDashStyle: 'dot',
            stemWidth: 1,
            whiskerColor: '#3D9200',
            whiskerLength: '20%',
            whiskerWidth: 2,
            maxPointWidth: 50
        }
    },
    title: {
        text: 'Heart Rate Error Box Plot For Genders'
    },

    legend: {
        enabled: false
    },

    xAxis: {
        categories: ['Male', 'Female', 'All'],
        title: {
            text: 'Participant Group'
        }
    },

    yAxis: {
      title: {
          text: 'Values'
      },
      plotLines: [{
          value: 760,
          color: 'red',
          width: 1,
          label: {
              text: 'Actual Value',
              align: 'left',
              style: {
                  color: 'grey'
              }
          }
      }]
  },

    series: [{
        name: 'Observations',
        data: [
            [760, 801, 848, 895, 965],
            [733, 853, 939, 980, 1080],
            [714, 762, 817, 870, 918]
        ],
        tooltip: {
            headerFormat: '<em>Experiment {point.key}</em><br/>'
        }
    }]

});
</script>
<script>
Highcharts.chart('testing125', {

    chart: {
        type: 'boxplot'
    },
    plotOptions: {
        boxplot: {
            fillColor: '#F0F0E0',
            lineWidth: 2,
            medianColor: '#0C5DA5',
            medianWidth: 3,
            stemColor: '#A63400',
            stemDashStyle: 'dot',
            stemWidth: 1,
            whiskerColor: '#3D9200',
            whiskerLength: '20%',
            whiskerWidth: 2,
            maxPointWidth: 50
        }
    },
    title: {
        text: 'Steps Error Box Plot For Genders'
    },

    legend: {
        enabled: false
    },

    xAxis: {
        categories: ['Male', 'Female', 'All'],
        title: {
            text: 'Participant Group'
        }
    },

    yAxis: {
      title: {
          text: 'Values'
      },
      plotLines: [{
          value: 932,
          color: 'red',
          width: 1,
          label: {
              text: 'Actual Value',
              align: 'left',
              style: {
                  color: 'grey'
              }
          }
      }]
  },

    series: [{
        name: 'Observations',
        data: [
            [760, 801, 848, 895, 965],
            [733, 853, 939, 980, 1080],
            [714, 762, 817, 870, 918]
        ],
        tooltip: {
            headerFormat: '<em>Experiment {point.key}</em><br/>'
        }
    }]

});
</script>
<script>
Highcharts.chart('testing126', {

    chart: {
        type: 'boxplot'
    },
    plotOptions: {
        boxplot: {
            fillColor: '#F0F0E0',
            lineWidth: 2,
            medianColor: '#0C5DA5',
            medianWidth: 3,
            stemColor: '#A63400',
            stemDashStyle: 'dot',
            stemWidth: 1,
            whiskerColor: '#3D9200',
            whiskerLength: '20%',
            whiskerWidth: 2,
            maxPointWidth: 50
        }
    },
    title: {
        text: 'Distance Error Box Plot For Genders'
    },

    legend: {
        enabled: false
    },

    xAxis: {
        categories: ['Male', 'Female', 'All'],
        title: {
            text: 'Participant Group'
        }
    },

    yAxis: {
      title: {
          text: 'Values'
      },
      plotLines: [{
          value: 932,
          color: 'red',
          width: 1,
          label: {
              text: 'Actual Value',
              align: 'left',
              style: {
                  color: 'grey'
              }
          }
      }]
  },

    series: [{
        name: 'Observations',
        data: [
            [760, 801, 848, 895, 965],
            [733, 853, 939, 980, 1080],
            [714, 762, 817, 870, 918]
        ],
        tooltip: {
            headerFormat: '<em>Experiment {point.key}</em><br/>'
        }
    }]

});
</script>

<%- include ./layout/partials/ex1/modals.ejs %>