<h1>Second Experiment</h1>
<h3 class="font-weight-normal">Target: Comparing data of structured activities on treadmill from Fitbit sensors.</h3>
<br>
<h4 class="text-primary">Devices</h4>
<table class="table table-bordered table-striped table-hover">
  <thead class="thead-light">
    <tr class="text-center">
      <th scope="col" class="text-dark">Sensors</th>
      <th scope="col" class="text-dark">Wearing</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td>Fitbit One</td>
      <td>Waist (right side, attached to trousers)</td>
    </tr>
    <tr class="text-center">
      <td>Fitbit Flex 2</td>
      <td>Left Hand (closer to fingers)</td>
    </tr>
    <tr class="text-center">
      <td>Fitbit Surge</td>
      <td>Left Hand (closer to elbow)</td>
    </tr>
    <tr class="text-center">
      <td>Fitbit Charge HR</td>
      <td>Right Hand (closer to fingers)</td>
    </tr>
    <tr class="text-center">
      <td>Fitbit Charge 2</td>
      <td>Right Hand (closer to elbow)</td>
    </tr>
  </tbody>
</table>
<h4 class="text-primary">Experiment Details</h4>
<p>Participants were required to wear all of above Fitbit sensors on the right place(See the
  first table), wearing Polar H7 Heart Rate Sensor on chest, wearing the mask of Portable
  Metabolic System.</p>
<p>Then Participants were asked to avoid caffeine and food intake and exercise for the 2 hours
  prior to the experiment. Then, they were asked to walk and run on a treadmill at the
  following speeds (See the table below), each speed for 5 minutes.</p>
<table class="table table-bordered table-striped table-hover">
  <thead class="thead-light">
    <tr class="text-center">
      <th scope="col" class="text-dark">Time</th>
      <th scope="col" class="text-dark">Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td>5 min</td>
      <td>Walking 3.0 mph</td>
    </tr>
    <tr class="text-center">
      <td>5 min</td>
      <td>Walking 4.0 mph</td>
    </tr>
    <tr class="text-center">
      <td>5 min</td>
      <td>Walking 5.0 mph</td>
    </tr>
    <tr class="text-center">
      <td>5 min</td>
      <td>Running 6.0 mph</td>
    </tr>
    <tr class="text-center">
      <td>5 min</td>
      <td>Running 7.5 mph</td>
    </tr>
    <tr class="text-center">
      <td>5 min</td>
      <td>Running 9.0 mph</td>
    </tr>
  </tbody>
</table>
<p>Data(Steps, Distance, Heart Rate, Energy Consumption) collected by these Fitbit sensors was
  recorded and has been vizualised below. Variables such as steps, energy consumption and
  heart rate were recorded every 5 minutes, walking and running distance were recorded every
  15 minutes. Also Data from Polar H7 and Portable Metabolic System was recorded to comparing with data from Fitbit
  products.</p>
<p>Then the physical activity data will be analysed and used for further research.</p>

<div class="text-center mb-3">
  <a href="/download?e=2&p=<%= participant %>"><button type="button" class="btn btn-lg btn-outline-success">Download
      Experiment</button></a>
</div>

<script>
  let names = JSON.parse('<%- names %>');
</script>

<!--Box Plot-->
<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link text-success active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Calories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
      aria-controls="profile" aria-selected="false">Heart Rate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-warning" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
      aria-controls="contact" aria-selected="false">Steps</a>
  </li>
</ul>
<%- include ./layout/partials/ex2/boxPlot.ejs %>
<br>

<% types.forEach(function(element) {  %>
<div id="<%= element %>"></div>
<div class="text-center">
  <a href="/secondba?type=<%-element%>&p=<%-participant%>">
  <button type="button" class="primary btn btn-outline-secondary%>">Bland–Altman plot</button></a>
  <% if (element != 'calories' && element != 'steps') { %>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal<%-element%>">
      Correlation coefficients
    </button>
  <% } %>
</div>
<%});%>

<div id="distance"></div>
<script src="js/experiment2.js"></script>
<script>
  let participant = "<%- participant %>";
  let types = "<%- types %>".split(",");
  let titles = "<%- titles %>".split(",");
  for (let i = 0; i < types.length; i++) {
    getData(types[i], names, function (data) {
      displayGraph(types[i], data, names, titles[i]);
    });
  };
  
  getDistanceData(function (data) {
    setTimeout(function () {
      Highcharts.chart('distance', {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: true,
          type: 'pie'
        },
        title: {
          text: 'Treadmill Distance Difference From Ground Truth'
        },
        tooltip: {
          pointFormat: 'Difference From Gold Standard: <b>{point.y}</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.y} - {point.percentage:.1f} %',
              style: {
                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
              }
            }
          }
        },
        series: [{
          name: 'Treadmill Distance',
          colorByPoint: true,
          data: [{
            name: 'Fitbit One',
            y: data[4][1],
            sliced: true,
            selected: true
          }, {
            name: 'Fitbit Charge HR',
            y: Math.abs(data[4][2])
          }, {
            name: 'Fitbit Surge',
            y: Math.abs(data[4][3])
          }, {
            name: 'Fitbit Flex 2',
            y: Math.abs(data[4][4])
          }, {
            name: 'Fitbit Charge 2',
            y: Math.abs(data[4][5])
          }]
        }]
      });
    }, 300);
  });
</script>
<%- include ./layout/partials/ex2/modals.ejs %>