<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div id="errorsCalories"></div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div id="errorsHR"></div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div id="errorsSteps"></div>
  </div>
</div>
<script>
  let maleErrorsCalories = JSON.parse('<%- maleErrorsCalories %>');
  let maleErrorsSteps = JSON.parse('<%- maleErrorsSteps %>');
  let maleErrorsHR = JSON.parse('<%- maleErrorsHR %>');

  let femaleErrorsCalories = JSON.parse('<%- femaleErrorsCalories %>');
  let femaleErrorsSteps = JSON.parse('<%- femaleErrorsSteps %>');
  let femaleErrorsHR = JSON.parse('<%- femaleErrorsHR %>');

  let allErrorsCalories = JSON.parse('<%- allErrorsCalories %>');
  let allErrorsSteps = JSON.parse('<%- allErrorsSteps %>');
  let allErrorsHR = JSON.parse('<%- allErrorsHR %>');

  Highcharts.chart('errorsCalories', {

    chart: {
      type: 'boxplot'
    },
    plotOptions: {
      boxplot: {
        fillColor: '#F0F0E0',
        lineWidth: 2,
        medianColor: '#0C5DA5',
        medianWidth: 3,
        stemColor: '#A63400',
        stemDashStyle: 'dot',
        stemWidth: 1,
        whiskerColor: '#3D9200',
        whiskerLength: '20%',
        whiskerWidth: 2,
        maxPointWidth: 50
      }
    },
    title: {
      text: 'Energy Consumption in Calories Error Box Plot For Genders'
    },

    legend: {
      enabled: false
    },

    xAxis: {
      categories: ['Male', 'Female', 'All'],
      title: {
        text: 'Participant Group'
      }
    },

    yAxis: {
      title: {
        text: 'Values'
      }
      // ,plotLines: [{
      //   value: 932,
      //   color: 'red',
      //   width: 1,
      //   label: {
      //     text: 'Actual Value',
      //     align: 'left',
      //     style: {
      //       color: 'grey'
      //     }
      //   }
      // }]
    },

    series: [{
        name: 'Observations',
        data: [
          maleErrorsCalories,
          femaleErrorsCalories,
          allErrorsCalories
        ],
        tooltip: {
          headerFormat: '<em>Data for {point.key}</em><br/>'
        }
      }
      //   , {
      //     name: 'Outlier',
      //     color: Highcharts.getOptions().colors[0],
      //     type: 'scatter',
      //     data: [ // x, y positions where 0 is the first category
      //         [0, 644],
      //         [2, 518],
      //         [2, 951],
      //         [2, 969]
      //     ],
      //     marker: {
      //         fillColor: 'white',
      //         lineWidth: 1,
      //         lineColor: Highcharts.getOptions().colors[0]
      //     },
      //     tooltip: {
      //         pointFormat: 'Observation: {point.y}'
      //     }
      // }
    ]

  });
</script>
<script>
  Highcharts.chart('errorsHR', {

    chart: {
      type: 'boxplot'
    },
    plotOptions: {
      boxplot: {
        fillColor: '#F0F0E0',
        lineWidth: 2,
        medianColor: '#0C5DA5',
        medianWidth: 3,
        stemColor: '#A63400',
        stemDashStyle: 'dot',
        stemWidth: 1,
        whiskerColor: '#3D9200',
        whiskerLength: '20%',
        whiskerWidth: 2,
        maxPointWidth: 50
      }
    },
    title: {
      text: 'Heart Rate Error Box Plot For Genders'
    },

    legend: {
      enabled: false
    },

    xAxis: {
      categories: ['Male', 'Female', 'All'],
      title: {
        text: 'Participant Group'
      }
    },

    yAxis: {
      title: {
        text: 'Values'
      },
      plotLines: [{
        value: 760,
        color: 'red',
        width: 1,
        label: {
          text: 'Actual Value',
          align: 'left',
          style: {
            color: 'grey'
          }
        }
      }]
    },

    series: [{
      name: 'Observations',
      data: [
        maleErrorsHR,
        femaleErrorsHR,
        allErrorsHR
      ],
      tooltip: {
        headerFormat: '<em>Experiment {point.key}</em><br/>'
      }
    }]

  });
</script>
<script>
  Highcharts.chart('errorsSteps', {
    chart: {
      type: 'boxplot'
    },
    plotOptions: {
      boxplot: {
        fillColor: '#F0F0E0',
        lineWidth: 2,
        medianColor: '#0C5DA5',
        medianWidth: 3,
        stemColor: '#A63400',
        stemDashStyle: 'dot',
        stemWidth: 1,
        whiskerColor: '#3D9200',
        whiskerLength: '20%',
        whiskerWidth: 2,
        maxPointWidth: 50
      }
    },
    title: {
      text: 'Steps Error Box Plot For Genders'
    },

    legend: {
      enabled: false
    },

    xAxis: {
      categories: ['Male', 'Female', 'All'],
      title: {
        text: 'Participant Group'
      }
    },

    yAxis: {
      title: {
        text: 'Values'
      },
      plotLines: [{
        value: 932,
        color: 'red',
        width: 1,
        label: {
          text: 'Actual Value',
          align: 'left',
          style: {
            color: 'grey'
          }
        }
      }]
    },

    series: [{
      name: 'Observations',
      data: [
        maleErrorsSteps,
        femaleErrorsSteps,
        allErrorsSteps
      ],
      tooltip: {
        headerFormat: '<em>Experiment {point.key}</em><br/>'
      }
    }]

  });
</script>