<% let names2 = ['Time Count(Every 60 seconds)','Gold standard', 'Fitbit One', 'Fitbit Flex 2', 'Fitbit Surge', 'Fitbit Charge HR', 'Fitbit Charge 2'];%>
<% let namesHR = ["Gold standard", "Fitbit Charge HR", "Fitbit Charge 2", "Fitbit Surge"]; %>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalcalories2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Calories</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <% for (let i = 1; i < names2.length; i++) {%>
        <th scope="col"><%-names2[i]%></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 1; i < names2.length; i++) {%>
      <tr>
        <th scope="row"><%-names2[i]%></th>
        <% for (let j = 1; j < names2.length; j++) {%>
        <% if (JSON.parse(matrix)[i-1][j-1] !== null) { %>
        <td><%- JSON.parse(matrix)[i-1][j-1].toFixed(2)%> </td>
        <% } %>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalsteps2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Steps</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <% for (let i = 1; i < names2.length; i++) {%>
      <th scope="col"><%-names2[i]%></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 1; i < names2.length; i++) {%>
    <tr>
      <th scope="row"><%-names2[i]%></th>
      <% for (let j = 1; j < names2.length; j++) {%>
      <% if (JSON.parse(matrix2)[i-1][j-1] !== null) { %>
      <td><%- JSON.parse(matrix2)[i-1][j-1].toFixed(2)%> </td>
      <% } %>
      <% } %>
    </tr>
    <% } %>
  </tbody>
</table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalheartrate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Heart Rate</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <% for (let i = 0; i < namesHR.length; i++) {%>
      <th scope="col"><%-namesHR[i]%></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < namesHR.length; i++) {%>
    <tr>
      <th scope="row"><%-namesHR[i]%></th>
      <% for (let j = 0; j < namesHR.length; j++) {%>
      <% if (JSON.parse(matrix3)[i][j] !== null) { %>
      <td><%- JSON.parse(matrix3)[i][j].toFixed(2)%> </td>
      <% } %>
      <% } %>
    </tr>
    <% } %>
  </tbody>
</table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
</div>


