<ul class="nav">
    <li class="nav-item dropdown">
        <% if (title == "First Experiment" || title == "Second Experiment") { %>
        <a class="nav-link dropdown-toggle pl-0 pr-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Select Participant</a>
        <div class="dropdown-menu">
            <% for(let i = 1; i <= participantsCount; i++) {%>
            <a class="dropdown-item" href="?p=p<%=i%>">
                Participant <%- i %></a>
            <% } %>
        </div>
        <% } %>
    </li>
    <li class="nav-item">
        <a class="nav-link pl-0 pr-4" href="<%- title === 'First Experiment' ? "/second" : "/?p=p1" %>">
            <%- title === 'First Experiment' ? "Second Experiment" : "First Experiment" %></a>
    </li>
    <li class="nav-item">
        <% if (title == "First Experiment") { %>
        <a class="nav-link pl-0 pr-4" href="<%-`/?p=${participant}&`%><%- removeZeros === '1' ? '' : 'z=1'%>">
            <%- removeZeros === '1' ? "Add Zeros" : "Remove Zeros (Average of Neighbour Elements)" %></a>
        <% } %>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
</ul>