<ul class="nav ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pl-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Select Participant</a>
        <div class="dropdown-menu">
        <% for(let i = 0; i < participants.length; i++) {%>
            <a class="dropdown-item" href="?p=p<%=i+1%>"><%- participants[i] %></a>
            <% } %>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="<%- title === 'First Experiment' ? "/second" : "/?p=p1" %>"><%- title === 'First Experiment' ? "Second Experiment" : "First Experiment" %></a>
    </li>
    <li class="nav-item">
    <% if (title == "First Experiment") { %>
        <a class="nav-link" href="<%- removeZeros === '1' ? '/' : '?z=1'%>"><%- removeZeros === '1' ? "Add Zeros" : "Remove Zeros" %></a>
    <% } %>
    </li>
</ul>